@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.App {
    width: max-content;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 56px;
}

.just {
    &-right {
        justify-content: right;
    }
}