@use '../../styles/varibles'as *;

.dropZone {
    width: 240px;
    box-sizing: border-box;

    >div {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.target {
    @include target;
    position: relative;
    margin-bottom: -1px !important;

    &:first-child {
        transform: translateY(-7px);
    }

}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    border: 2px dashed #C4C4C4;
    border-radius: 6px;

    svg {
        margin-bottom: 10px;
    }

    &.active {
        background-color: #F0F9FF;
    }
}

.placeholder_title {
    color: $Iris-100;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.placeholder_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #6B7280;
}