.box {
    background: #F3F4F6;
    border-radius: 6px;
    padding: 4px 8px;
    // text
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: right;

    span {
        line-height: 1;
    }
}